
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="w-25 mx-auto mt-5 pt-5">
        <h2 class="text-center mb-5">Admin Panel</h2>
        <form>
            <!-- Email input -->
            <div class="form-outline mb-2">
                <label class="form-label" for="form2Example1">Login</label>
                <input type="email" id="form2Example1" class="form-control" />
            </div>

            <!-- Password input -->
            <div class="form-outline mb-2">
                <label class="form-label" for="form2Example2">Password</label>
                <input type="password" id="form2Example2" class="form-control" />
            </div>

            <!-- Submit button -->
            <button type="button" class="btn btn-primary btn-block">Sign in</button>

        </form>
    </div>
</body>
</html>
