
@{
    Layout = null;
}


@section Styles{<link rel="stylesheet" href="~/css/NotFound.css"/>}



<div class="container">
    <div class="info">
        <img src="~/img/404.png" class="info__404"/>
        <div class="info__txt">Cтраница не найдена</div>
        <a class="info__link">
            <div class="info__link__txt">На главную</div>
            <img src="~/img/left_arrow.png" class="info__link__img"/>
        </a>
    </div>

    <img src="~/img/moon.png" class="moon"/>
</div>