@model Article
@section Styles{<link rel="stylesheet" href="~/css/Details.css"/>}

@*   локация -- где находится пользователь   *@

<div class="locat">
	<div class="locat__main">Главная </div>
	<img src="~/img/blog_strelocka.png" class="locat__img"/>
	<div class="locat__blog">Блог</div>
	<img src="~/img/blog_strelocka.png" class="locat__img"/>
	<div class="locat__state">UX/UI дизайнер</div>
</div>



@*   статья   *@


<div class="article">
	<img src="@Model.ArticleImage" class="article__img"/>

	<div class="article__name">@Model.Name</div>

	<div class="article__txt">@Model.Text</div>
</div>
