@section Styles{<link rel="stylesheet" href="~/css/ListItems.css"/>}

@*   локация -- где находится пользователь   *@

<div class="locat">
	<div class="locat__main">Главная </div>
	<img src="~/img/blog_strelocka.png" class="locat__img"/>
	<div class="locat__case">Кейс Movie</div>
</div>
