

/*  intro   */


.intro{
    margin-top: 64px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.intro__gif {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    pointer-events: none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



.intro__logo{
    width: 533px;
    height: 145px;
    margin: 0 auto;
}



.intro__txt{
    font-size: 24px;
    margin: 0 auto;
    margin-top: 17px;
    color: #fff;        
}



.intro__mouse {
    width: 0px;
    padding: 8px 10px 18px 10px;
    position: relative;
    border: 1px solid #fff;
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 64px;
}


.intro__mouse__scroll {
    width: 2px;
    height: 6px;
    position: absolute;
    left: 9px;
    top: 8px;
    background-color: #fff;
    transition: all 0.3s ease;
}



.intro__mouse__scroll__active {
    height: 11px;
    transition: all 0.3s ease;
}




/*  made   */


.made{
    margin-top: 172px;
}



.made__txt{
    font-size: 36px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 16px;
}



.made__btn__line{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;

}



.made__cardline{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    margin-top: 24px;
}




.made__card {
    width: 544px;
    height: 540px;
    margin-bottom: 32px;
    border-radius: 8px;
    background-color: #151515;
    
}



.made__card__setting {
    width: 543px;
    height: 539px;
    border-radius: 8px;
    transition: all 0.3s ease;
    margin: 0 auto;
}




.made__card__setting:hover{
    border: 1px solid #FFF;
    transition: all 0.3s ease;
}



.made__card:nth-child(2n+1){
    margin-right: 32px;
}



.made__card__inner {
    margin: 16px;
}


.made__card__inner__recent {
    width: 100%;
    font-size: 16px;
    color: #D1FB52;
    font-weight: 600;
    text-align: right;

}



.made__card__inner__img {
    width: 328px;
    height: 360px;
    margin: 0 auto;
    margin-top: 26px;
}



.made__card__inner__img__in{
    width: 100%;
    height: 100%;
}



.made__card__inner__name {
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    margin-top: 26px;
    
}



.made__card__inner__type{
    display: flex;
    justify-content: left;
    margin-top: 8px;
}


.made__card__inner__type__txt {
    padding: 8px 9.72px 8px 8px;
    background-color: #303030;
    color: #BBBBBB;
    border-radius: 4px;
    margin-right: 8px;
}



/*  Баннер  */



.banner {
    width: 1120px;
    height: 340px;
    background-color: #151515;
    overflow: hidden;
    margin-top: 86px;
    border-radius: 12px;
}



.banner__inner {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 12px;
}



.banner__inner__backgr {
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 0;
    position: absolute;
    transition: all 0.5s ease;
    border-radius: 12px;
}


.banner__inner__txt{
    position: absolute;
    width: 100%;
    font-size: 100px;
    font-weight: 600;
    text-align: center;
    top: 16px;
    color: #fff;
    z-index: 1;

}



.banner__inner__img {
    position: absolute;
    top: 181px;
    left: 416.87px;
    transition: all 0.5s ease;
    z-index: 2;
}



.banner__inner:hover > .banner__inner__backgr{
    opacity: 1;
}


.banner__inner:hover > .banner__inner__img {
    top: 107px;
}