@{
    ViewData["Title"] = "Home Page";
}

@section Styles{<link rel="stylesheet" href="~/css/main.css" />}


@*  intro   *@


<div class="intro">
    <img src="~/img/intro.gif" class="intro__gif"/>

    <img src="~/img/intro_logo.svg" class="intro__logo"/>

    <div class="intro__txt">Студия разработки цифровых продуктов</div>

    <div class="intro__mouse">
        <div class="intro__mouse__scroll"></div>
    </div>
</div>


@* Что-то на подобии портфолио *@

@*  made  *@


<div class="made">
    <div class="made__txt">Разработано в студии</div>

    <div class="made__btn__line">

        @*  button__type2   *@

        <div class="button__type2 type2__active">Все</div>

        <div class="button__type2">Веб-приложения</div>

        <div class="button__type2">Мобильные приложение</div>

        <div class="button__type2">Аналитика</div>

        <div class="button__type2">Дизайн интерфейсов</div>

        <div class="button__type2">Редизайн</div>

        <div class="button__type2">Инфографика</div>

        <div class="button__type2">Логотипы</div>
    </div>

    <div class="made__cardline">
        @for(int i = 0; i < 8; i++)
        {

            @* Карточки с проделанными работами *@

            <a class="made__card">
                <div class="made__card__setting">
                    <div class="made__card__inner">
                        <div class="made__card__inner__recent">new</div>

                        <div class="made__card__inner__img">
                            <img src="~/img/Kino.svg" class="made__card__inner__img__in">
                        </div>

                        <div class="made__card__inner__name">Kino</div>

                        <div class="made__card__inner__type">
                            <div class="made__card__inner__type__txt">Логотип</div>

                            <div class="made__card__inner__type__txt">Мобильное приложение</div>

                            <div class="made__card__inner__type__txt">Аналитика</div>
                        </div>
                    </div>
                </div>
            </a>
        }
    </div>
</div>


@*  Баннер  *@


<div class="banner">
    <div class="banner__inner">
        <img src="~/img/banner_backgr.png" class="banner__inner__backgr"/>

        <div class="banner__inner__txt">Мы в инсте</div>

        <img src="~/img/banner_insta.png" class="banner__inner__img"/>
    </div>
</div>


@*  Информация о нас, персонале и миссии  *@


<div class="info">

    <div class="info__txt">О нас</div>

    <div class="info__line">

        @*  button__type2   *@

        <div class="info__line__btn info__line__btn__active">Наши услуги</div>
            
        <div class="info__line__btn">Наша команда</div>

        <div class="info__line__btn">Наша миссия</div>
    </div>

    @*  Информация о нас  *@

    @*  Информация о услугах  *@

    <div class="info__service info__active info__anime">

        @*  Статьи о услугах  *@

        <div class="info__service__artic">
            <div class="info__service__artic__title">
                <div class="info__service__artic__title__txt">Разработка веб-приложений</div>

                <img class="info__service__artic__title__img"/>
            </div>

            <div class="info__service__artic__txt">Создаём высококачественные и инновационные веб-приложения, которые отвечают потребностям современных бизнесов и предоставляют лучший пользовательский опыт. Мы объединяем техническую компетенцию, креативный дизайн и глубокое понимание бизнес-процессов для того, чтобы создать продукт, который будет успешным и удовлетворит потребности вашей аудитории.</div>
        </div>

        <div class="info__service__artic">
            <div class="info__service__artic__title">
                <div class="info__service__artic__title__txt">Разработка мобильных приложений</div>

                <img class="info__service__artic__title__img"/>
            </div>

            <div class="info__service__artic__txt">Разрабатываем  инновационные и функциональные мобильныеприложения, которые удовлетворяют потребности современных пользователей и поддерживают ваш бизнес в цифровой эпохе. Мы объединяем техническое мастерство, дизайн и углубленное понимание пользовательских потребностей, чтобы создавать приложения, которые привлекают, удерживают и вдохновляют вашу целевую аудиторию..</div>
        </div>

        <div class="info__service__artic">
            <div class="info__service__artic__title">
                <div class="info__service__artic__title__txt">Разработка дизайна</div>

                <img class="info__service__artic__title__img"/>
            </div>

            <div class="info__service__artic__txt">Предоставляем комплексные решения в сфере дизайна, обеспечивая эффективное визуальное представление и стратегический анализ для вашего бизнеса. Мы занимаемся разработкой новых дизайнов, редизайном существующих, созданием логотипов и анализом, чтобы помочь вам создать узнаваемый и впечатляющий облик, привлекая внимание вашей целевой аудитории.</div>
        </div>
    </div>

    @*  Информация о комманде   *@

    <div class="info__team">
        <div class="info__team__inner">
            <div class="info__team__card">
                <img src="~/img/designer.png" class="info__team__card__img"/>

                <div class="info__team__card__block">
                    <div class="info__team__card__block__inner">
                        <img src="~/img/designer_icon.png" class="info__team__card__block__inner__img"/>

                        <div class="info__team__card__block__inner__txt">
                            <div class="info__team__card__block__inner__txt__pos">Designer</div>

                            <div class="info__team__card__block__inner__txt__name">Магомедрасул</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="info__team__card">
                <img src="~/img/back1.png" class="info__team__card__img"/>

                <div class="info__team__card__block">
                    <div class="info__team__card__block__inner">
                         <img src="~/img/back_icon.png" class="info__team__card__block__inner__img"/>

                        <div class="info__team__card__block__inner__txt">
                            <div class="info__team__card__block__inner__txt__pos">Back-end developer</div>

                            <div class="info__team__card__block__inner__txt__name">Абдулджалил</div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="info__team__card">
                <img src="~/img/fron1.png" class="info__team__card__img"/>

                <div class="info__team__card__block">
                    <div class="info__team__card__block__inner">
                        <img src="~/img/front_icon.png" class="info__team__card__block__inner__img"/>

                        <div class="info__team__card__block__inner__txt">
                            <div class="info__team__card__block__inner__txt__pos">Front-end developer</div>

                            <div class="info__team__card__block__inner__txt__name">Магомед</div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="info__team__card">
                <img src="~/img/mobile_dev.png" class="info__team__card__img"/>

                <div class="info__team__card__block">
                    <div class="info__team__card__block__inner">
                        <img src="~/img/mobile_dev_icon.png" class="info__team__card__block__inner__img"/>

                        <div class="info__team__card__block__inner__txt">
                            <div class="info__team__card__block__inner__txt__pos">Android developer</div>

                            <div class="info__team__card__block__inner__txt__name">Темирлан</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="info__team__card">
                <img src="~/img/front2.png" class="info__team__card__img"/>

                <div class="info__team__card__block">
                    <div class="info__team__card__block__inner">
                        <img src="~/img/front_icon.png" class="info__team__card__block__inner__img"/>

                        <div class="info__team__card__block__inner__txt">
                            <div class="info__team__card__block__inner__txt__pos">Front-end developer</div>

                            <div class="info__team__card__block__inner__txt__name">Тимирхан</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="info__team__card">
                <img src="~/img/front3.png" class="info__team__card__img"/>

                <div class="info__team__card__block">
                    <div class="info__team__card__block__inner">
                        <img src="~/img/front_icon.png" class="info__team__card__block__inner__img"/>

                        <div class="info__team__card__block__inner__txt">
                            <div class="info__team__card__block__inner__txt__pos">Front-end developer</div>

                            <div class="info__team__card__block__inner__txt__name">Салам</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="info__team__card">
                <img src="~/img/back2.png" class="info__team__card__img"/>

                <div class="info__team__card__block">
                    <div class="info__team__card__block__inner">
                        <img src="~/img/back_icon.png" class="info__team__card__block__inner__img"/>

                        <div class="info__team__card__block__inner__txt">
                            <div class="info__team__card__block__inner__txt__pos">Back-end developer</div>

                            <div class="info__team__card__block__inner__txt__name">Маматхан</div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>


    @*  Информация о миссии  *@

    @*  info__mission  *@

    <div class="info__mission">Мы стремимся помочь бизнесу зарабатывать больше, а пользователям с максимальным кайфом пользоваться нашими продуктами. </div>
</div>

@*   blog   *@

@*   блог   *@

<div class="blog">
    <div class="blog__title">
        <div class="blog__title__txt">Наш блог</div>

        <div class="blog__title__btn">Перейти в блог</div>
    </div>

    <div class="blog__cardline">
        <div class="blog__card">
            <img src="~/img/blog1.png" class="blog__card__img"/>

            <div class="blog__card__txt">О команде</div>
        </div>

        <div class="blog__card">
            <img src="~/img/blog2.png" class="blog__card__img"/>

            <div class="blog__card__txt">Front-end разработка</div>
        </div>

        <div class="blog__card">
            <img src="~/img/blog3.png" class="blog__card__img"/>

            <div class="blog__card__txt">Front-end Roadmap</div>
        </div>
    </div>
</div>

@section Scripts{<script src="~/js/base.js"></script>}