@{
    ViewData["Title"] = "Home Page";
}

@section Styles{<link rel="stylesheet" href="~/css/main.css" />}


@*  intro   *@


<div class="intro">
    <img src="~/img/intro.gif" class="intro__gif"/>

    <img src="~/img/intro_logo.svg" class="intro__logo"/>

    <div class="intro__txt">Студия разработки цифровых продуктов</div>

    <div class="intro__mouse">
        <div class="intro__mouse__scroll"></div>
    </div>
</div>


@* Что-то на подобии портфолио *@

@*  made  *@


<div class="made">
    <div class="made__txt">Разработано в студии</div>

    <div class="made__btn__line">

        @*  button__type2   *@

        <div class="button__type2 type2__active">Все</div>

        <div class="button__type2">Веб-приложения</div>

        <div class="button__type2">Мобильные приложение</div>

        <div class="button__type2">Аналитика</div>

        <div class="button__type2">Дизайн интерфейсов</div>

        <div class="button__type2">Редизайн</div>

        <div class="button__type2">Инфографика</div>

        <div class="button__type2">Логотипы</div>
    </div>

    <div class="made__cardline">
        @for(int i = 0; i < 8; i++)
        {

            @* Карточки с проделанными работами *@

            <a class="made__card">
                <div class="made__card__setting">
                    <div class="made__card__inner">
                        <div class="made__card__inner__recent">new</div>

                        <div class="made__card__inner__img">
                            <img src="~/img/Kino.svg" class="made__card__inner__img__in">
                        </div>

                        <div class="made__card__inner__name">Kino</div>

                        <div class="made__card__inner__type">
                            <div class="made__card__inner__type__txt">Логотип</div>

                            <div class="made__card__inner__type__txt">Мобильное приложение</div>

                            <div class="made__card__inner__type__txt">Аналитика</div>
                        </div>
                    </div>
                </div>
            </a>
        }
    </div>
</div>


@*  Баннер  *@


<div class="banner">
    <div class="banner__inner">
        <img src="~/img/banner_backgr.png" class="banner__inner__backgr"/>

        <div class="banner__inner__txt">Мы в инсте</div>

        <img src="~/img/banner_insta.png" class="banner__inner__img"/>
    </div>
</div>




@section Scripts{<script href="~/js/base.js"></script>}