@section Styles{<link rel="stylesheet" href="~/css/ProjectDetails.css"/>}


@*   локация -- где находится пользователь   *@

<div class="locat">
	<a asp-controller="Home" asp-action="Index" class="locat__main">Главная </a>
	<img src="~/img/blog_strelocka.png" class="locat__img"/>
	<a class="locat__case">Кейс Movie</a>
</div>

@*   Название проекта   *@

<div class="name">Movie</div>

@*   Описание проекта   *@

<div class="desc">Проект по разработке приложения "Movie" представляет собой амбициозную и инновационную инициативу в сфере онлайн-кинематографии. Основной целью данного проекта является создание современной, удобной и интерактивной платформы, которая позволит пользователям наслаждаться широким спектром кинофильмов и сериалов на своих устройствах в любое удобное время. Проект "Movie" сосредотачивается на объединении технической инновативности, уникального пользовательского опыта и богатства контента для достижения гармоничного взаимодействия между киноманами и цифровой технологией.</div>

@*   Картинки связанные с проектом   *@

@for (int i = 0; i < 4; i++)
{
	<img src="~/img/case_img.png" class="case__img"/>
}


@*   Документы   *@


<div class="doc">
	<div class="doc__txt"></div>
	<div class="doc__btnLine">
		<a class="doc__link">
			<div class=""></div>
		</a>
	</div>
</div>
